In [193]:
import numpy as np
import pandas as pd

In [194]:
data=pd.read_csv("Spaceship_Titanic.csv")
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [195]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 3.4 MB

In [196]:
data.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [197]:
most_common_planet=data["HomePlanet"].mode()[0]
most_common_planet
data["HomePlanet"].fillna(most_common_planet,inplace=True)

/var/folders/20/zt_g_1mx4w33_23q07h61y1m0000gn/T/ipykernel_3424/4217685909.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["HomePlanet"].fillna(most_common_planet,inplace=True)

In [198]:
most_common_crysleep=data["CryoSleep"].mode()[0]
data["CryoSleep"].fillna(most_common_crysleep,inplace=True)

/var/folders/20/zt_g_1mx4w33_23q07h61y1m0000gn/T/ipykernel_3424/957208263.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["CryoSleep"].fillna(most_common_crysleep,inplace=True)
/var/folders/20/zt_g_1mx4w33_23q07h61y1m0000gn/T/ipykernel_3424/957208263.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["CryoSleep"].fillna(most_common_crysleep,inplace=True)

In [199]:
data.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [200]:
data.Cabin.apply(lambda x: (x.split("/") if isinstance(x,str) else [np.nan] * 3)[2]).value_counts()

Cabin
S    4288
P    4206
Name: count, dtype: int64

In [201]:
data.Cabin=data.Cabin.apply(lambda x: (x.split("/") if isinstance(x,str) else [np.nan] * 3)[2]=="S")

In [202]:
most_common_destination=data.Destination.mode()[0] 
data.Destination.fillna(most_common_destination,inplace=True)

/var/folders/20/zt_g_1mx4w33_23q07h61y1m0000gn/T/ipykernel_3424/1983697050.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Destination.fillna(most_common_destination,inplace=True)

In [203]:
median_age=data["Age"].median()
data["Age"] = data["Age"].fillna(median_age).astype("int8")

In [204]:
most_common_vip_status=data.VIP.mode()[0]
data["VIP"] = data["VIP"].fillna(most_common_vip_status)

/var/folders/20/zt_g_1mx4w33_23q07h61y1m0000gn/T/ipykernel_3424/3255936644.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["VIP"] = data["VIP"].fillna(most_common_vip_status)

In [205]:
service=["RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]
data.loc[data.CryoSleep==True,service]=0

for col in service:
    median=data[col].median()
    data[col]=data[col].fillna(median)

In [206]:
data.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

In [207]:
data=data.drop("Name",axis=1)
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,False,TRAPPIST-1e,39,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,True,TRAPPIST-1e,24,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,True,TRAPPIST-1e,58,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,True,TRAPPIST-1e,33,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,True,TRAPPIST-1e,16,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,False,55 Cancri e,41,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,Earth,True,True,PSO J318.5-22,18,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,True,TRAPPIST-1e,26,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,Europa,False,True,55 Cancri e,32,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,Europa,False,True,TRAPPIST-1e,44,False,126.0,4688.0,0.0,0.0,12.0,True

In [208]:
data.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [209]:
data["PassengerId"].apply(lambda x:int(x.split("_")[1])).value_counts()

PassengerId
1    6217
2    1412
3     571
4     231
5     128
6      75
7      46
8      13
Name: count, dtype: int64

In [210]:
data.PassengerId=data.PassengerId.apply(lambda x: int(x.split("_")[1]=="01"))

In [211]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,Europa,False,False,TRAPPIST-1e,39,False,0.0,0.0,0.0,0.0,0.0,False
1,1,Earth,False,True,TRAPPIST-1e,24,False,109.0,9.0,25.0,549.0,44.0,True
2,1,Europa,False,True,TRAPPIST-1e,58,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0,Europa,False,True,TRAPPIST-1e,33,False,0.0,1283.0,371.0,3329.0,193.0,False
4,1,Earth,False,True,TRAPPIST-1e,16,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,Europa,False,False,55 Cancri e,41,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,1,Earth,True,True,PSO J318.5-22,18,False,0.0,0.0,0.0,0.0,0.0,False
8690,1,Earth,False,True,TRAPPIST-1e,26,False,0.0,0.0,1872.0,1.0,0.0,True
8691,1,Europa,False,True,55 Cancri e,32,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,0,Europa,False,True,TRAPPIST-1e,44,False,126.0,4688.0,0.0,0.0,12.0,True

In [212]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   int64
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   bool
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   int8
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Transported   8693 non-null   bool
dtypes: bool(4), float64(5), int64(1), int8(1), object(2)
memory usage: 1.4 MB